html {
    scroll-behavior: smooth;
}

/* body style starts */
body {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    background: lightgrey;

}

/* end body style */


/* header style starts */
header {
    padding: 25px 25px;
    background-color: rgb(181, 142, 218);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.avatar {
    border-radius: 50%;
   height: 175px;
   width: 175px; 
   border: solid 4px black;
}

header h1 {
    justify-content: center;
    font-style: bold;
    font-size: 45px;
    color: rgb(0, 0, 0);
}
header nav {
    margin: 10px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header h1 nav ul li a{
padding: 15px 15px;
font-weight: lighter;
font-size: 1vw;
}
/* end header style */



/*footer style starts */
footer {
padding: 25px 25px;
background-color: rgb(181, 142, 218);
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}


/* footer style ends */

/* article style begins */
.main-content {
    border-left: solid 3px black;
}
/* article style ends */

/* about me style begins */
.about {
    padding: 0 125px 0 125px;
}
/* about me style ends */

/* work style begins */

.project-img {
  max-height: 1000px;
  max-width: 1000px;
border: solid 3px rgb(181, 142, 218);
    
}

.project-img-main {
    max-height: 1080px;
    max-width: 1920px;
    border: solid 3px rgb(181, 142, 218);
    justify-content: flex-start;
}

.projects {
    padding: 0px 200px 0 200px;
    flex-direction: row;
    flex: wrap; 
    justify-content: flex-end;
}