* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* body style starts */
body {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    background: lightgrey;

}

/* end body style */


/* header style starts */
header {
    padding: 25px 25px;
    background-color: rgb(181, 142, 218);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.avatar {
    border-radius: 50%;
   height: 175px;
   width: 175px; 
   border: solid 4px black;
}


header h1 {
    justify-content: center;
    font-style: bold;
    font-size: 45px;
    color: rgb(0, 0, 0);
}
header nav {
    margin: 10px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    padding: 0 30px 0 30px;
}

header h1 nav ul li a{
padding: 15px 15px;
font-weight: lighter;
font-size: 1.55vw;
}
/* end header style */



/*footer style starts */
footer {
padding: 25px 25px;
background-color: rgb(181, 142, 218);
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

footer h2 {
    justify-content: center;
    font-style: bold;
    font-size: 45px;
    color: rgb(0, 0, 0);
}
footer nav {
    margin: 10px 0;
}

footer nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
footer nav ul li {
    padding: 0 30px 0 30px;
}

footer h2 nav ul li a{
padding: 15px 15px;
font-weight: lighter;
font-size: 1.55vw;
}

/* footer style ends */

/* article style begins */
.main-content {
    border-left: solid 3px black;
    padding-left: 15px;
}
/* article style ends */

/* about me style begins */
.about {
    padding: 0 125px 0 125px;
}
/* about me style ends */

/* work style begins */
.project-text p{
    width: fit-content;
    background-color: #8ca0ff;
    margin-bottom: 1em;
    align-items: center;
    z-index: 2;
    position: relative;
    bottom: 42px;;
    left: 925px;
}
.project-text-main p {
   background-color: #8ca0ff;
   margin-bottom: 1em;
   align-items: center;
   z-index: 2;
   position: relative;
   top: 660px;
   right: 645px;
}
.project-img {
max-height: auto;
max-width: 1000px;
border: solid 3px rgb(181, 142, 218);

}


.project-img-main {
    max-height: auto;
    max-width: 1200px;
    border: solid 3px rgb(181, 142, 218);
    z-index: 1;
   
}

.projects {
    padding: 0px 200px 0 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hover :hover {
    opacity: 50%;
    transform: scale(.5);
}